.padding1 {
  padding: 20px; }

.padding2 {
  padding: 10px; }

.padding3 {
  padding: 6.66667px; }

* {
  margin: 0px 0px;
  padding: 0px 0px; }

/*============*/
/* body reset */
/*============*/
body {
  font-family: "Bai Jamjuree", sans-serif;
  background-image: url(../public/img/bg-footer_WHITE.jpg);
  background-color: #c5c5c5; }

/*============*/
/*   GENERAL  */
/*============*/
.grid {
  display: grid;
  grid-template-areas: 'head head head' 'nav nav nav' 'prod prod prod' 'foot foot foot';
  grid-template-columns: 20% 60% 20%;
  row-gap: 5px;
  justify-items: center; }

header {
  grid-area: head; }

main {
  grid-area: prod;
  justify-content: center;
  margin-top: 25px; }

nav {
  grid-area: nav; }

footer {
  grid-area: foot;
  width: 100%;
  margin-top: 25px; }

.logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 25px;
  animation-name: vicioc;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative; }

@keyframes vicioc {
  0% {
    transform: translate(0px, -50px); }
  25% {
    transform: translate(0px, -40px); }
  50% {
    transform: translate(0px, -25px); }
  75% {
    transform: translate(0px, -15px); }
  100% {
    transform: translate(0px, 0px); } }

.secondary img {
  width: 150px; }

.rem1 {
  border: 4px solid #222222;
  transition: all 0.3s ease-in-out; }
  .rem1:hover {
    transform: scale(1.1, 1.1); }

.encabezado {
  text-align: center; }

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  margin: 0px; }

h2 {
  font-size: 35px;
  color: #666666;
  margin-top: 0px;
  margin-bottom: 15px; }

h3 {
  background-color: black;
  color: gainsboro;
  border-radius: 3px;
  padding: 10px;
  margin: 0px; }

.redes_sociales {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  background-color: rgba(150, 150, 150, 0.486);
  text-align: center;
  margin-top: 30px;
  padding: 30px 0px; }
  .redes_sociales img {
    margin: 0px 15px; }

.copy {
  width: 100%;
  background-color: black;
  color: #c5c5c5;
  text-align: center;
  margin-top: 100px; }
  .copy a:link {
    text-decoration: none;
    color: #c5c5c5; }

/*============*/
/*   INDEX    */
/*============*/
.inicio_descripcion {
  color: gainsboro;
  border-radius: 3px;
  grid-area: text;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 25px; }

/*=========================*/
/*   NUESTROS PRODUCTOS    */
/*=========================*/
.quehacemos_remeras {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }
  .quehacemos_remeras img {
    border: 4px solid #222222;
    display: inline-block;
    margin: 0px 10px;
    transition: all 0.3s ease-in-out; }

.quehacemos_texto {
  /*display: flex;
    flex-flow: $frow;*/
  color: gainsboro;
  border-radius: 3px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 25px; }

/*=========================*/
/*        LA MAGIA         */
/*=========================*/
.lamagia_texto {
  display: flex;
  flex-flow: row nowrap;
  background-color: black;
  color: gainsboro;
  border-radius: 3px;
  text-align: justify;
  font-size: 20px;
  margin: 0px 50px; }
  .lamagia_texto a:link, .lamagia_texto a:visited, .lamagia_texto a:active {
    text-decoration: none;
    color: #d66c6c; }
  @media screen and (max-width: 480px) {
    .lamagia_texto {
      font-size: 16px;
      margin: 0px 25px; } }

.lamagia_ecuacion {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 900; }
  .lamagia_ecuacion p {
    margin: 0px;
    text-align: center; }

.lamagia_resultado {
  grid-area: res;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 900; }
  .lamagia_resultado p {
    margin: 0px; }
  .lamagia_resultado img {
    width: 250px;
    border: 4px solid #222222;
    margin-top: 15px;
    margin-bottom: 20px; }

/*=========================*/
/*      QUIENES SOMOS      */
/*=========================*/
#qsomos_carousel {
  grid-area: prod;
  width: 80%; }
  #qsomos_carousel img {
    border: 4px solid #222222;
    width: 300px; }
  @media screen and (max-width: 680px) {
    #qsomos_carousel {
      display: none; } }

#qsomos_cel {
  grid-area: prod;
  display: none; }
  @media screen and (max-width: 680px) {
    #qsomos_cel {
      display: flex;
      flex-flow: column nowrap; } }

.cel_qsomos img {
  border: 4px solid #222222; }

/*==============*/
/*      FAQ     */
/*==============*/
/*#faq_grid{
    display: grid;
    grid-template-areas: 'head head head'
                         'nav nav nav'
                         'prod prod prod'
                         'foot foot foot';
    grid-template-columns: 20% 60% 20%;
    row-gap: 5px;
    justify-items: center;*/
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: 5% 90% 5%;
    row-gap: 2px; } }

.preguntas_frecuentes {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start; }

.pregunta {
  margin-top: 15px; }

.respuesta {
  margin-top: 20px; }

.talles {
  margin-left: 10px;
  margin-top: 20px;
  border-collapse: separate; }

.talles tr th {
  background-color: #434343;
  color: #c5c5c5;
  border: solid 2px #9b9b9b;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px; }

.talles tr td {
  background-color: #9b9b9b;
  font-size: 15px;
  text-align: center; }

@media screen and (max-width: 480px) {
  .talles tr th {
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 2.5px;
    padding-bottom: 2.5px; }
  .talles tr td {
    font-size: 10px;
    text-align: center; } }
