/*==============*/
/*      404     */
/*==============*/
.error_img{
    position: absolute;
    top: 140px;
    left: 45px;
    z-index: 1;

    @media screen and (max-width: 587px) {
        top: 150px;
        left: 0px;
    }

    @media screen and (max-width: 429px) {
        position: unset;
    }
}

.error_text {
    background: rgb(238,238,238);
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 14%, rgba(126,126,126,1) 100%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8)  ; 
	-webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8)  ; 
	-moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8)  ;
    display: $fcol;
    position: relative;
    z-index: 2;

    h1 {
        text-align: center;
    }

    @media screen and (max-width: 429px) {
        h2{
            text-align: center;
        }
    }

}

.error_text_2 {
    background: rgb(238,238,238);
    background: linear-gradient(180deg, rgba(238,238,238,1) 0%, rgba(238,238,238,1) 14%, rgba(126,126,126,1) 100%);
    box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8)  ; 
	-webkit-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8)  ; 
	-moz-box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.8)  ;
    display: $fcol;
    position: relative;
    top: 300px;
    z-index: 2;

    h2 {
        text-align: center;
        margin-bottom: 0px;
    }

    @media screen and (max-width: 657px) {
        top: 250px;
    }

    @media screen and (max-width: 587px) {
        top: 200px;
    }

    @media screen and (max-width: 429px) {
        position: unset;
    }
}