/*=========================*/
/*        LA MAGIA         */
/*=========================*/

.lamagia_texto{
    display: flex;
    flex-flow: $frow;
    background-color: black;
    color:$light-font;
    border-radius: 3px;
    text-align: justify;
    font-size: 20px;
    margin: $margin-x;

    span {
        color:rgb(214, 108, 108);
    }

    @media screen and (max-width: 480px) {
        font-size: 16px;
        margin: $margin-x-cel;
    }
}

.lamagia_ecuacion{
    display: flex;
    flex-flow: $frow;
    justify-content: center;
    font-family: $title-font;
    font-size: 40px;
    font-weight: 450+450;

    p{
        margin: 0px;
        text-align: center;
    }
}

.lamagia_resultado{
    grid-area: res;
    font-family: $title-font;
    text-align: center;
    font-size: 70px;
    font-weight: 900;

    p{
        margin: 0px;
    }

    img{
        width: 250px;
        border: $img-border;  
        margin-top: 15px;  
        margin-bottom: 20px;
    }
}