/*=========================*/
/*   NUESTROS PRODUCTOS    */
/*=========================*/

.quehacemos_remeras {
    display: flex;
    flex-flow: $frow;
    justify-content: center;

    img{
        border: $img-border;
        display: inline-block;
        margin: 0px 10px;
        transition: all 0.3s ease-in-out;
    }
}

.quehacemos_texto{
    color:$light-font;
    border-radius: 3px;
    font-size: 20px;
    text-align: justify;
    margin-bottom: $margin-b;
}

.form {
    margin-top: $margin-t;

    p{
        color:rgb(220, 220, 220);
        font-family: $title-font;
        font-size: 50px;
    }
}
