/*=========================*/
/*      QUIENES SOMOS      */
/*=========================*/

#qsomos_carousel {
    grid-area: prod;
    width: $prod-width;

    img {
        border: $img-border;
        width: 300px;
    }

    @media screen and (max-width: 680px) {
        display: none;
    }
}

#qsomos_cel {
    grid-area: prod;
    display: none;

    @media screen and (max-width: 680px) {
        display: flex;
        flex-flow: $fcol;
    }
}

.cel_qsomos {
    img {
        border: $img-border;
    }
}